/* styles.css */

body {
    font-family: Arial, sans-serif;
  }
  
  table {
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #ccc;
  }
  
  footer {
    font-size: 14px;
  }
  